<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SnowTricks | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/build/assets/styles/css/app.css">
    </head>
    <body>
        {% block header %}
            {% include 'header/header.html.twig' %}
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
            {% include 'footer/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
