<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SnowTricks | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="build/assets/styles/css/app.css">
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
