<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SnowTricks | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/build/assets/styles/css/app.css">
        <link rel="icon" href="https://snowtricks.sacha-cohen.fr/dist/img/logo.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/build/assets/js/app.js"></script>
    </head>
    <body>
        {% block header %}
            {% include 'header/header.html.twig' %}
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
            {% include 'footer/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
