<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce trick ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn small red no-hover">
        <i class="bi bi-trash"></i>
        {{ button_label|default('Supprimer') }}
    </button>
</form>
