{% extends 'base.html.twig' %}

{% block title %}Nouveau trick{% endblock %}

{% block main %}
    <main class="new-trick">
        <div class="card white">
            <h1>Nouveau trick</h1>

            {{ include('trick/_form.html.twig') }}
        </div>
    </main>
{% endblock %}