{% extends 'base.html.twig' %}

{% block title %}Nouveau trick{% endblock %}

{% block main %}
    <main>
        <div class="card white">
            <h1>Nouveau trick</h1>

            {{ include('trick/_form.html.twig') }}

            <a href="{{ path('trick_index') }}">back to list</a>
        </div>
    </main>
{% endblock %}