{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <main>
        <div class="card white">
            <h1>Inscription SnowTricks</h1>
            {{ include('user/_form.html.twig') }}
        </div>
    </main>
{% endblock %}
