{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block main %}
    <main class="login">
        <div class="card white">
            <h1>Mot de passe oublié</h1>
            <form method="POST" action="{{ path('user_send-reset-password') }}">
                <div>
                    <div>
                        <label for="inputEmail">Adresse mail</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Ex: mail@snowtricks.com" required>
                    </div>
                </div>
                {% if isSent %}
                    <div class="success">
                        <div>
                            Un mail de réinitialisation t'a été envoyé !
                        </div>
                    </div>
                {% endif %}
                <a class="reset-password" href="{{ path('app_login') }}">
                    &#8592;
                    Retour à la connexion
                </a>
                <button type="submit">
                    <i class="bi bi-shield-lock"></i>
                    Recevoir un mail de réinitialisation
                </button>
            </form>
        </div>
    </main>
{% endblock %}
